// greys
$grey800: #424242;

// purples
$purple50: #F3E5F5;
$purple200: #CE93D8;
$purple300: #BA68C8;

// deep purples
$deepPurple50: #EDE7F6;
$deepPurple100: #D1C4E9;
$deepPurple200: #B39DDB;
$deepPurple300: #9575CD;

// ----------
// animations
// ----------

@keyframes scaleIn {
  0% {
    transform: scale(0.65);
  }
  100% {
    transform: scale(1);
  }
}

%scaleIn {
  animation: scaleIn 0.25s;
}

%mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}
