.config {
  flex: 1;
  display: flex;
  flex-direction: column;

  .form-item {
    margin: 20px;
    flex: 1;
  }

  .save-config {
    button {
      height: 100px !important;

      div {
        height: 100px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
          flex: 1;
          width: 100%;
        }
      }
    }
  }
}
