@import './__variables';

$bg-color: $deepPurple300;

.dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  @extend %scaleIn;

  .body {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    font-size: 2rem;
    text-align: center;
    background-color: $bg-color;
    align-items: center;
    justify-content: center;

    .body-text {
      color: white;
      padding: 0 10px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    background-color: $bg-color;
  }
}

.thankyou {
  display: flex;
  // flex-direction: column;
  flex: 1;
  // justify-content: center;
  @extend %scaleIn;

  .body {
    display: flex;
    background-color: $bg-color;
    flex: 1;
    justify-content: center;
    align-items: center;

    .body-text {
      display: flex;
      color: white;
      font-size: 4rem;
      text-align: center;
    }
  }
}
