@import './__variables';

.header {
  background-color: black !important;
}

.basic-header {
  background-color: $deepPurple300 !important;
}

.sidebar {
  div:nth-child(2) {
    background-color: #212121 !important;

    .user-name {
      color: white;
    }

    .menu-item {
      color: white !important;
      background-color: #212121 !important;
    }
  }

  [type="button"] {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
  }
}
