@import './__variables';

.landing-page {
  width: 100%;
  background-color: $deepPurple300;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex: 1;

  .brand {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      flex: 1;
      width: 275%;
      height: auto;
    }
    .cube-grid {
      width: 12rem;
      height: 12rem;
      .cube {
        background: white;
      }
    }
  }

  section {
    flex: 0.1;
    width: 100%;
    button {
      width: 100%;
      height: 4rem;
    }
  }
}
