@import './__variables';

#react-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.basic-layout {
  @extend %mobile-layout;
  h1 {
    text-align: center;
  }
}

.main-layout {
  @extend %mobile-layout;
}

.home {
  @extend %mobile-layout;
}
